:root {
  --purplish-wine: #82335b95;
}

@keyframes dropIn {
  0% {
    top: -45%;
  }
  50% {
    top: 0%;
  }
  100% {
    top: 5%;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes highlight {
  0% {
    filter: contrast(100%);
    opacity: 1;
  }
  50% {
    filter: contrast(80%);
    opacity: 0.5;
  }
  100% {
    filter: contrast(100%);
    opacity: 1;
  }
}
* {
  font-family: "Montserrat", "Poppins", sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue";
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@supports (scrollbar-color: red blue) {
  * {
    scrollbar-color: rgba(145, 24, 139, 0.329) rgba(239, 242, 243, 0.884);
  }
}
@supports (scrollbar-width: thin) {
  * {
    scrollbar-width: none;
  }
}
@supports not (scrollbar-color: red) {
  ::-webkit-scrollbar-track,
  ::-ms-scrollbar-track,
  ::-moz-scrollbar-track,
  *::-webkit-scrollbar-track,
  *::-ms-scrollbar-track,
  *::-moz-scrollbar-track {
    background: var(--sbtrackdef);
  }
  ::-webkit-scrollbar-thumb,
  ::-ms-scrollbar-thumb,
  ::-moz-scrollbar-thumb,
  *::-webkit-scrollbar-thumb,
  *::-ms-scrollbar-thumb,
  *::-moz-scrollbar-thumb {
    background: var(--sbthumbdef);
  }
}
@supports (scrollbar-gutter: stable) {
  body,
  main,
  .modal-content {
    scrollbar-gutter: stable both-edges;
  }
}
::-webkit-scrollbar-track,
::-ms-scrollbar-track,
::-moz-scrollbar-track,
*::-webkit-scrollbar-track,
*::-ms-scrollbar-track,
*::-moz-scrollbar-track {
  border-radius: 100vw;
  margin-block: 0.5em;
  margin-inline: 0.5em;
}

::-webkit-scrollbar-thumb,
::-ms-scrollbar-thumb,
::-moz-scrollbar-thumb,
*::-webkit-scrollbar-thumb,
*::-ms-scrollbar-thumb,
*::-moz-scrollbar-thumb {
  border-radius: 100vw;
  border: 0.25em solid var(--sbthumbdef);
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-flow: column nowrap;
  background: radial-gradient(
      circle at right bottom,
      #57a7bc,
      #76659c,
      rgba(160, 156, 152, 0),
      rgba(223, 129, 146, 0)
    ),
    radial-gradient(
      ellipse at left bottom,
      #d8ad81,
      #bc988c,
      rgba(225, 129, 146, 0),
      rgba(153, 91, 122, 0.0352941176)
    ),
    linear-gradient(to right, #df8192, #bb5e8c);
  margin: auto auto;
  height: 100vh;
  width: 100vw;
  animation: fadeIn 1s ease-in-out;
}

header {
  display: flex;
  align-items: center;
  height: fit-content;
  width: 100%;
  justify-content: space-between;
  text-align: center;
  border-bottom: ridge rgba(40, 40, 40, 0.605) 0.15rem;
  background: linear-gradient(
    to right,
    #c77787,
    rgba(130, 51, 91, 0.5843137255)
  );
  font-size: 0.8rem;
  font-weight: 500;
  padding-block: 0.3rem;
}
header a {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  text-decoration: none;
  color: transparent;
  margin-left: 0.7rem;
}
header svg.bi {
  stroke: rgba(0, 0, 0, 0.7019607843);
}

main {
  display: flex;
  flex-flow: column wrap;
  min-width: fit-content;
  min-height: fit-content;
  margin: auto auto;
  overflow: auto;
  padding-top: 2vh;
  padding-bottom: 2vh;
  font-size: 1.6rem;
}

a code {
  color: rgb(15, 102, 184);
}

button:hover {
  animation: highlight 2s ease-in-out infinite;
}

h1,
hr,
img,
nav,
.btn-close,
#mainFirstDiv {
  filter: drop-shadow(2px 2px 2px rgba(168, 166, 166, 0.768627451));
}

h2,
.btn {
  filter: drop-shadow(0.3px 0.3px 0 rgba(168, 166, 166, 0.768627451));
}

h3 {
  filter: drop-shadow(1px 1px 1px rgba(168, 166, 166, 0.768627451));
}

hr {
  min-width: 90%;
  box-shadow: 0.6px 0.6px 0.6px;
  opacity: 0.1;
}
hr.incrHr {
  margin-bottom: 6vh;
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins", "Montserrat", sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue";
}
h1 *,
h2 *,
h3 *,
h4 * {
  font-family: "Poppins", "Montserrat", sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue";
}

h1 {
  margin: 4vh 0;
}

input[type="radio"],
input[type="checkbox"] {
  accent-color: #b645b0;
}
input[type="radio"].form-check-input:checked,
input[type="checkbox"].form-check-input:checked {
  background-color: #b645b0;
  border-color: #b645b0;
}

menu {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
menu:last-child {
  padding-bottom: 1vh;
}
menu li {
  min-width: 100%;
  width: fit-content;
}

dialog {
  position: absolute;
  border: white;
  width: 4vw;
  height: 2vh;
  text-align: center;
  font-size: 10px;
}

img#logoHeader {
  max-width: calc(8rem + 1vw);
  max-height: calc(8rem + 1vw);
  border-radius: 1vh;
}
img[id*="geleia"] {
  object-position: -3.6rem;
}

section.sectMain {
  min-width: 70vw;
  max-width: 50rem;
  border-color: rgba(61, 58, 58, 0.8705882353);
  background: linear-gradient(to right, white, #fcf4f4);
}

table {
  min-width: min-content;
  width: 99%;
}
table caption {
  caption-side: top;
}
table colgroup col {
  min-width: 8ch;
}
table thead th {
  text-align: left;
}
table thead th:first-child {
  text-align: left;
}
table thead th:last-child {
  text-align: left;
  width: 10.5ch;
}
table th.tabOrdersCel.tabOrdersTh {
  background-color: transparent;
}
table th span.tabCelSpan {
  background-color: transparent;
}

.accordion {
  width: 81vw;
  padding-inline: 2vw;
  --bs-accordion-border-color: $accordionThemeColor;
  --bs-accordion-bg: transparent;
  border-radius: 0.5rem;
}
.accordion .accordion-item.first-accordion-item {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.accordion .accordion-item.first-accordion-item .accordion-header {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.accordion .accordion-item.last-accordion-item {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.accordion .accordion-item.last-accordion-item .accordion-header,
.accordion .accordion-item.last-accordion-item .accordion-body {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.accordion .accordion-item .accordion-header {
  --bs-accordion-bg: transparent;
  background: linear-gradient(
    to right,
    #c77787,
    rgba(130, 51, 91, 0.5843137255)
  );
  width: 81vw;
  font-weight: 600;
}
.accordion .accordion-item .accordion-header .accordion-button {
  width: 76.95vw;
  padding-inline: 2vw;
  z-index: 10;
  font-weight: 600;
  --bs-accordion-bg: transparent;
  background: linear-gradient(
    to right,
    #c77787,
    rgba(130, 51, 91, 0.5843137255)
  );
}
.accordion .accordion-item .accordion-header .accordion-button:not(.collapsed),
.accordion .accordion-item .accordion-header .accordion-button:is(.collapsed) {
  background-color: var(--purplish-wine);
}
.accordion .accordion-item .accordion-collapse {
  width: 76.95vw;
  padding-inline: 0;
  background: linear-gradient(to right, rgb(199, 119, 135), rgb(130, 51, 91));
  font-weight: 600;
  --bs-accordion-bg: transparent;
  font-size: 1rem;
  color: rgba(47, 45, 45, 0.7882352941);
}
.accordion .accordion-item .accordion-collapse .accordion-body {
  width: 81vw;
  padding-inline: 2vw;
  width: unset;
  font-weight: 600;
  --bs-accordion-bg: transparent;
  background: linear-gradient(to right, #c5808e, rgba(135, 61, 98, 0.58));
}
.accordion
  .accordion-item
  .accordion-collapse
  .accordion-body
  .subSegmentDelivery {
  font-size: 0.9rem;
}
.accordion .accordion-item .accordion-collapse .accordion-body .divHistory {
  margin-bottom: 0.3rem;
}
.accordion .accordion-item .accordion-collapse .accordion-body p {
  margin-bottom: 0;
}
.accordion#accordionSobre {
  text-align: start;
}
.accordion#accordionSobre mark {
  background: rgba(127, 70, 98, 0.5843137255);
  border-radius: 0.5rem;
}
.accordion#accordionSobre ul {
  list-style: none;
  padding-left: 0.5rem;
}
.accordion#accordionSobre ul:not(#authorsCoprList) :first-child:not(:has(.bi)) {
  margin-top: 0.8rem;
}
.accordion#accordionSobre li {
  margin-bottom: 2vh;
}
.accordion#accordionSobre summary {
  margin-bottom: 2vh;
}
.accordion#accordionSobre .authorCoprDiv {
  font-size: 0.8rem;
  padding-left: 1rem;
}
.accordion#accordionSobre
  .authorCoprDiv
  > *:not(:first-child):not(.authorSocialLinks) {
  margin-left: 0.3rem;
}
.accordion#accordionSobre .authorCoprDiv h3,
.accordion#accordionSobre .authorCoprDiv h4,
.accordion#accordionSobre .authorCoprDiv h5 {
  font-size: 1.2rem;
  font-weight: 600;
}
.accordion#accordionSobre .authorCoprDiv .authorSocialLinks {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 0.5rem;
}
.accordion#accordionSobre .authorCoprDiv .authorSocialLinks span:has(.bi) {
  opacity: 0.8;
}
.accordion#accordionSobre
  .authorCoprDiv
  .authorSocialLinks
  .bi:not(.bi-github) {
  width: 1.2rem;
  height: 1.2rem;
}
.accordion#accordionSobre .authorCoprDiv:has(.bi-github) p {
  margin-bottom: 0.3rem;
}
.accordion#accordionSobre .authorCoprDiv:has(.bi-github) a {
  margin-left: 0.1rem;
}
.accordion .divInfoContact {
  display: flex;
  align-items: center;
}
.accordion .summaryOptDelivery strong {
  font-weight: 700;
}
.accordion .bi {
  transform: scale(1.5);
  color: transparent;
}
.accordion .bi.bi-behance {
  fill: rgba(80, 80, 215, 0.879);
  stroke: rgba(65, 65, 202, 0.879);
}
.accordion .bi.bi-github {
  fill: #000;
  stroke: #000;
  width: 2.3rem;
  height: 2.2rem;
  transform: scale(0.85);
}
.accordion .bi.bi-instagram {
  fill: rgba(155, 38, 127, 0.809);
  stroke: rgba(101, 23, 83, 0.809);
}
.accordion .bi.bi-linkedin {
  fill: rgba(30, 81, 192, 0.9450980392);
  stroke: transparent;
}
.accordion .bi.bi-whatsapp {
  fill: rgb(11, 123, 11);
  stroke: rgb(12, 85, 12);
  width: 1.875rem;
  height: 2rem;
  transform: scale(0.85);
}

.addAlert,
.minusAlert {
  transform: translate(0.7rem, -2.2rem);
}

.addAlert {
  color: #1ab315;
}

.authorMainDiv {
  width: 90%;
  display: grid;
  grid-template: 50%/10% 80%;
  align-items: start;
  justify-content: start;
  border-radius: 1rem;
  border-top-left-radius: calc(5% + 3vw);
  border-bottom-left-radius: calc(5% + 3vw);
  border: outset 0.3rem rgba(130, 51, 91, 0.5843137255);
  background: linear-gradient(
    to right,
    #c77787,
    rgba(130, 51, 91, 0.5843137255)
  );
  margin: 1.25rem 0 0 1.5%;
}
.authorMainDiv .authorFig {
  border-radius: 50%;
}
.authorMainDiv .authorFig .authorImg {
  height: 100%;
  border: inset 0.5rem rgba(169, 51, 155, 0.6862745098);
  border-radius: 50%;
  width: 3rem;
  transform: scale(3);
  margin: 1rem 1.5rem 0 1rem;
  font-size: 0.5rem;
  text-align: center;
  border-radius: 50%;
  filter: drop-shadow(0 0 0 transparent);
}
.authorMainDiv .authorDesc {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-end;
  margin-left: 5rem;
  flex-shrink: 0;
  padding: 0.5rem 0 0.7rem;
}

.bi {
  pointer-events: none;
  max-width: 100%;
  max-height: 100%;
  stroke: rgba(223, 221, 221, 0.7450980392);
}
.bi[class*="square"] {
  border-radius: 30%;
}
.bi.bi-plus-square-fill {
  stroke: rgba(54, 165, 20, 0.616);
  fill: transparent;
  border-style: hidden;
}
.bi.bi-dash-square-fill {
  stroke: rgba(230, 108, 9, 0.616);
  fill: transparent;
  border-style: hidden;
}

.biBtn {
  min-width: fit-content;
  background-color: transparent;
  box-shadow: none;
  border: none;
}

.brandedNameSpan {
  padding-right: 0.07rem;
}

.brandSpan {
  display: inline-block;
  vertical-align: text-top;
  padding-right: 0.2rem;
}

.btn.btn-rounded {
  font-weight: bold;
  border-radius: 1rem;
}
.btn.btn-success {
  font-weight: 600;
}
.btn.btn-magenta {
  color: white;
  background-color: #bb5e8c;
}

.divMain {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.divProduct {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  min-height: max-content;
  justify-content: space-between;
  align-items: start !important;
  column-gap: 1vw;
  padding-bottom: 16vh;
}
.divProduct:hover {
  cursor: pointer;
}
.divProduct img:not([src*=".svg"]) {
  max-height: 15vh;
  width: calc(9rem + 3vh);
  border-radius: 1vh;
}
.divProduct .divProductImg img {
  margin-left: 1vw;
  border-top-left-radius: 15%;
  border-bottom-right-radius: 15%;
  min-width: 10.2rem;
  min-height: 12.1rem;
  clip-path: polygon(3% 3%, 100% 0, 97% 97%, 0 100%);
  overflow: hidden;
  object-fit: cover;
  animation: fadeIn 1.5s ease-in-out;
}
.divProduct .divProductImg img[id*="brownie-simples"] {
  object-position: 5px;
}
.divProduct .divProductImg img[id*="mini-brownie"] {
  object-position: 5px;
}
.divProduct .divProductImg img[id*="cookie"] {
  object-position: 0 100%;
}
.divProduct .divProductImg img[src*="svg"] {
  min-width: 3rem;
  min-height: 3rem;
  clip-path: circle(100%);
}
.divProduct .divProductDetails {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  animation: fadeIn 2s ease-in-out;
}
.divProduct .divProductInfo {
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
  height: 15vh;
  column-gap: 1vw;
  flex-basis: 70%;
}
.divProduct .divProductName {
  margin-bottom: 1vh;
}
.divProduct .divProductPrice.invalid {
  margin-bottom: 1vh;
}

.errorAlert {
  font-size: 0.7rem;
  text-align: left;
  transform: translate(1.5rem, 5rem);
  color: #cf6d12;
}

.flNoWC {
  display: flex;
  flex-flow: column nowrap;
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

.fade-in-mid {
  animation: fadeIn 1.5s ease-in-out;
}

.fade-in-late {
  animation: fadeIn 2s ease-in-out;
}

.flNoW {
  display: flex;
  flex-flow: row nowrap;
}

.instIcon ~ .tips {
  align-self: center;
  padding-left: 0.1rem;
}
.instIcon ~ .tips .tip {
  display: inline-block;
}
.instIcon ~ .tips .tip .anchorUndecor {
  display: inline-block;
  text-decoration: none;
  color: rgb(33, 37, 41);
  margin: 0;
}
#instDivInfoContact .instIcon.socialMediaIcon {
  transform: scale(0.65);
}

.itemName {
  width: 1fr;
}

.itemPrice {
  width: 1fr;
}

.itemBtn {
  background-color: transparent;
  border: transparent;
  width: 1fr;
}

.jtCtAr {
  justify-content: space-around;
}

.menuOpNav {
  padding: 2vh 0;
  max-height: 80vh;
}
.menuOpNav .menuOpMainDiv {
  justify-content: space-between;
}
.menuOpNav .menuOpMainDiv:first-child(:not(.opGroup)) {
  padding-bottom: 2.5vh;
}
.menuOpNav .menuOpMainDiv:first-child(:not(.opGroup)) .menuOpH {
  margin-bottom: 4vh;
}
.menuOpNav .menuOpMainDiv .btn-close {
  padding-right: 10%;
  justify-self: end;
}
.menuOpNav .menuOpMainDiv .menuOpH {
  align-self: center;
  text-align: left;
  margin-bottom: 2.5vh;
  margin-left: 2.5%;
}
.menuOpNav .menuOpMenu {
  display: flex;
  justify-content: center;
  row-gap: 4vh;
}
.menuOpNav .menuOpMenu .opLi {
  display: grid;
  grid-template: 100% / calc(41% + 3vw) 45%;
  justify-content: center;
  align-items: center;
  column-gap: 3vw;
  row-gap: 2vh;
  height: max-content;
}
.menuOpNav .menuOpMenu .opLi .opInfoDiv {
  display: flex;
  flex-flow: column nowrap;
  min-width: 50%;
  justify-content: center;
  align-items: start;
  align-self: baseline;
  column-gap: 2vw;
  row-gap: 2vh;
  height: max-content;
}
.menuOpNav .menuOpMenu .opLi .opBtnsDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  height: 100%;
  min-width: 20%;
  row-gap: 2vh;
  padding-left: calc(70% + 1.25vw);
}
.menuOpNav .menuOpMenu .opLi .opBtnsDiv .opBtnAdd {
  border: 0.02rem solid rgba(172, 169, 169, 0.7137254902);
  border-radius: 0.5rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right-color: transparent;
  padding-inline: 0.1rem;
}
.menuOpNav .menuOpMenu .opLi .opBtnsDiv .opBtnRemove {
  border: 0.02rem solid rgba(172, 169, 169, 0.7137254902);
  border-radius: 0.5rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-color: transparent;
  padding-inline: 0.1rem;
}
.menuOpNav .menuOpMenu .opLi .opBtn {
  height: 1.5rem;
  width: 1.5rem;
}
.menuOpNav .menuOpMenu .opLi .opBtn .bi {
  height: 1.5rem;
  width: 1.5rem;
}
.menuOpNav .menuOpMenu .opLi .opBtn .bi[class*="square"] {
  clip-path: circle(40%);
}
.menuOpNav .menuOpMenu .opLi .opSpan {
  text-align: left;
}
.menuOpNav .menuOpMenu .opLi .opSpan.opSpanName {
  font-size: 1.5rem;
}
.menuOpNav .menuOpMenu .opLi .opSpan.opSpanName .NinhoSlice[id*="e-Brownie"] {
  padding-right: 0.2rem;
}
.menuOpNav .menuOpMenu .opLi .opSpan.opSpanName .NinhoSlice + .brandSpan {
  padding-bottom: 0.4rem;
}
.menuOpNav .menuOpMenu .opLi .opSpan.opSpanDesc {
  font-size: calc(0.7rem + 0.2vw);
  padding-left: 0.3rem;
  min-width: 50vw;
  max-width: 75vw;
}
.menuOpNav .menuOpMenu .opLi .opSpan.opSpanPrice {
  font-size: 1.2rem;
  padding-left: 0.3rem;
}
.menuOpNav li:last-child {
  padding-bottom: 6vh;
}

.modal-content {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  animation: dropIn 0.3s ease-out forwards, fadeIn 0.6s ease-in-out forwards;
  width: 85vw;
  height: max-content;
  left: 5%;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.6rem #000000;
  z-index: 900;
  padding-block: calc(0.5rem + 2%);
  padding-inline: 2%;
}
.modal-content::backdrop {
  background-color: rgba(0, 0, 0, 0.5019607843);
}
.modal-content > fieldset {
  position: relative;
  min-width: 95%;
}
.modal-content > * > *:is(div):is(fieldset):is(section):is(form) {
  min-width: 92%;
}
.modal-content section {
  padding: 2%;
  min-width: 80%;
}
.modal-content.modal-content-stk2 {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  animation: dropIn 0.3s ease-out forwards, fadeIn 0.6s ease-in-out forwards;
  width: 80vw;
  height: max-content;
  left: 10%;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.6rem #000000;
  z-index: 990;
  padding: 2%;
  white-space: normal;
}
.modal-content.modal-content-stk2::backdrop {
  background-color: rgba(0, 0, 0, 0.5019607843);
}
.modal-content .searchBarDiv {
  margin-bottom: 0;
  margin-left: calc(1% + 2vw);
}

.modal-content-stk2 {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  animation: dropIn 0.3s ease-out forwards, fadeIn 0.6s ease-in-out forwards;
  width: 80vw;
  height: max-content;
  left: 10%;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.6rem #000000;
  z-index: 990;
  padding: 2%;
  white-space: normal;
}
.modal-content-stk2::backdrop {
  background-color: rgba(0, 0, 0, 0.5019607843);
}

.modal-content-fit {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  animation: dropIn 0.3s ease-out forwards, fadeIn 0.6s ease-in-out forwards;
  width: 80vw;
  height: max-content;
  left: 10%;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.6rem #000000;
  z-index: 990;
  padding: 2%;
  white-space: normal;
  width: fit-content;
}
.modal-content-fit::backdrop {
  background-color: rgba(0, 0, 0, 0.5019607843);
}

.opGroup {
  padding: 0 0 2vh 2vw;
}
.opGroup .opSubGroup {
  display: flex;
  align-items: center;
  justify-content: start;
  text-align: center;
  gap: 2vw;
}
.opGroup .opSubGroup .subopLab {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 0.2rem;
  margin-left: 0.5rem;
}
.opGroup .opSubGroup .subopLab .form-check-input ~ .subopText {
  padding-left: calc(0.25rem + 0.01vh);
  font-size: 1rem;
}
.opGroup .opSubGroup .subopLab .form-check-input[type="radio"] {
  width: 1rem;
  height: 1rem;
}

.ovAt {
  overflow: auto;
}

.searchBarDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  flex-flow: row nowrap;
  margin-bottom: 3rem;
}
.searchBarDiv input[type="search"] {
  border: transparent;
}
.searchBarDiv svg.DocSearch-Search-Icon {
  padding-bottom: 0.1rem;
}

.sectMain {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  justify-items: center;
  justify-content: space-evenly;
  position: relative;
  width: 40vw;
  height: 45vh;
  min-width: 70vw;
  min-height: fit-content;
  background: white;
  border: solid black;
  border-width: 3px 3px 0 3px;
  border-radius: 2vw 2vw 0 0;
}

.sizeMin {
  min-width: fit-content;
  min-height: fit-content;
}

.taPedido.form-control,
#divBtns,
#divTotal {
  width: 80%;
}

.tipT {
  font-size: 0.8rem;
  opacity: 0.6;
  padding: 0 0 0 0.3rem;
}

[class*="modal-content"].wid50v {
  width: 50vw;
}
[class*="modal-content"].defDp {
  display: revert;
}

.qrcode-img {
  max-width: 20vw;
  clip-path: polygon(5% 5%, 95% 5%, 95% 75%, 5% 75%);
}

.minusAlert {
  color: #c21414;
}

#authorsCoprList p {
  margin-bottom: 1rem;
}

#copyAlert,
.addAlert,
.minusAlert,
.errorAlert {
  width: fit-content;
  height: fit-content;
  position: absolute;
  opacity: 0;
}

#copyAlert,
.addAlert,
.minusAlert {
  font-size: 1rem;
}

#copyAlert {
  transform: translate(0.7rem, 2.7rem);
  color: #57a7bc;
}

#copyBtn,
button[id*="btnAdd"],
button.opBtn {
  position: relative;
}

#divBtns {
  min-width: 90vw;
}

#divBtns,
#divCallers {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin-block: 2vh;
}
#divBtns a,
#divCallers a {
  text-decoration: none;
}
#divBtns button:has(.bi-whatsapp),
#divCallers button:has(.bi-whatsapp) {
  height: fit-content;
}
#divBtns button:has(.bi-whatsapp):has(svg),
#divCallers button:has(.bi-whatsapp):has(svg) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  min-width: fit-content;
}
#divBtns button:has(.bi-whatsapp) svg,
#divCallers button:has(.bi-whatsapp) svg {
  width: 60%;
  height: 60%;
  padding-top: 5px;
  transform: scale(1.5);
  fill: #ffffffe6;
}
#divBtns button {
  height: 3rem;
}

#divCallers a {
  text-decoration: none;
}
#divCallers button {
  height: fit-content;
}
#divCallers button:has(svg) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  min-width: fit-content;
}
#divCallers button svg {
  width: 75%;
  height: 75%;
  padding-bottom: 0.2rem;
}
#divCallers .bi-whatsapp {
  margin-right: 1vw;
}

#divTotal {
  width: 20ch;
  margin: 2vh 0 4vh 4.1vw;
  align-self: flex-start;
  font-size: 1.2rem;
}

#headerLogo {
  display: flex;
  flex-flow: column nowrap;
  width: 89%;
  margin: 4vh 0 0 0;
  row-gap: 4vh;
}
#headerLogo a {
  align-self: center;
  text-decoration: none;
}
#headerLogo img {
  align-self: center;
}
#headerLogo .tips {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 0.5vh;
}
#headerLogo .tips .tip {
  max-width: 95%;
  font-size: 0.7rem;
  word-wrap: break-word;
  opacity: 0.5;
}
#headerLogo .tips .tipT {
  font-size: 0.5rem;
  text-align: flex-start;
}
#headerLogo .tips .tipB {
  text-align: left;
  align-self: flex-start;
}

#imagesNote {
  max-width: 95%;
  font-size: 0.7rem;
  word-wrap: break-word;
  opacity: 0.5;
  align-self: start;
}
#imagesNote ~ .incrHr {
  margin-bottom: 3vh;
}

#infoModalDlg {
  overflow: auto;
  background: linear-gradient(to right, #ca919d, #8f486a);
}
#infoModalDlg #infoHeader {
  width: 77.436vw;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-self: center;
  text-align: left;
  margin-bottom: 2.5vh;
  margin-left: 0%;
  border-radius: 0.5rem;
  border: groove 0.2rem
    linear-gradient(to right, #c77787, rgba(130, 51, 91, 0.5843137255));
  background: linear-gradient(
    to right,
    #c77787,
    rgba(130, 51, 91, 0.5843137255)
  );
  padding-block: 1rem;
}
#infoModalDlg #infoHeader h2,
#infoModalDlg #infoHeader h3,
#infoModalDlg #infoHeader h4 {
  margin: 0;
}
#infoModalDlg #infoHeader .btn-close {
  margin-top: 0.25rem;
}
#infoModalDlg #listAuthors {
  list-style: none;
}
#infoModalDlg #listAuthors li {
  margin-bottom: 3rem;
}
#infoModalDlg #bodyInfoOwner {
  min-height: max-content;
  padding: 5% 0 5% 5%;
}
#infoModalDlg #bodyInfoDelivery {
  padding-bottom: 0.1rem;
}

#mainFirstDiv {
  width: fit-content;
  min-height: fit-content;
}

#mainRoot {
  display: flex;
  align-items: center;
  justify-content: center;
}

#ordersCaption {
  text-align: left;
  margin: 1vw 0 1vw 0.7vw;
}

#productsCell {
  padding-left: 0;
}
#productsCell span {
  padding-left: 0;
  margin-left: 0.3rem;
}
#productsRoot {
  width: 80%;
  scrollbar-width: none;
  overflow: auto;
}
#productsRoot:hover {
  scrollbar-width: thin;
}
#productsTabTitle {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
#productsTabTitle #resetTabBtns {
  height: fit-content;
}
#productsThead {
  height: 3rem;
  vertical-align: middle;
}
#quantCel_order_ph {
  text-align: center;
}

#rootTab {
  width: 88%;
  overflow: auto;
  min-height: 13rem;
  padding-block: 1vh;
}
#rootTab table {
  min-width: 99%;
  width: 99%;
  max-width: 45vw;
}

#sectCardapio {
  opacity: 0.9;
  border-width: 3px 3px 0 3px;
  border-radius: 2vw 2vw 0 0;
  height: max-content;
}

#sectTexto {
  min-height: max-content;
  height: fit-content;
  border-width: 0 3px 3px 3px;
  border-radius: 0 0 2vw 2vw;
}

#totalSpan {
  border-right: solid;
  border-width: thin;
  padding-right: 0.3rem;
  border-color: rgba(1, 1, 1, 0.2);
  margin-right: 0.5rem;
}

@media screen and (min-width: 1421px) {
  #sectTexto {
    padding-bottom: 3vh;
  }
  #divBtns {
    padding-bottom: 3vh;
  }
}
@media screen and (min-width: 1250px) {
  input[type="radio"].form-check-input:checked {
    background-size: cover;
    background-position: bottom;
  }
  .authorMainDiv .authorDesc {
    margin-left: 3rem;
  }
}
@media screen and (max-width: 1420px) {
  #copyAlert {
    transform: translate(0.7rem, -4.6rem);
    color: #57a7bc;
  }
  div#divBtns,
  div#divCallers {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 2vh;
  }
  div#divBtns button,
  div#divCallers button {
    width: 61vw;
    transform: translateX(-0.5rem);
  }
  div#divBtns:last-child,
  div#divCallers:last-child {
    margin-bottom: 6vh;
  }
  #sectTexto {
    height: fit-content;
  }
}
@media screen and (max-width: 1100px) {
  .divProductDetails {
    min-height: min-content;
    height: calc(7rem + 1vh);
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 1020px) {
  div#divBtns {
    padding-bottom: 2vh;
  }
  div#divBtns button {
    width: 68.5vw;
    transform: translateX(0);
  }
  main > * {
    width: 95vw;
    padding-right: 3vw;
    padding-left: 2vw;
  }
  main section,
  main .sectMain {
    width: 95vw;
  }
  li.divProduct {
    display: flex;
    flex-flow: column nowrap;
    padding-bottom: 10vh;
  }
  li.divProduct .divProductDetails {
    min-height: min-content;
    height: fit-content;
  }
  li.divProduct .divProductImg img {
    margin-top: 2vh;
  }
  img#logoHeader {
    max-width: 20vw;
    max-height: 20vw;
  }
  #divTotal {
    margin-left: calc(5.3vw + 0.1rem);
  }
  #infoAuthorsSect #listAuthors .authorMainDiv .authorDesc {
    display: flex;
    text-align: end;
    align-items: self-end;
    justify-content: flex-end;
  }
}
@media screen and (min-width: 800px) and (max-width: 900px) {
  div#divBtns #copyBtnWp {
    width: 87.5%;
    transform: translateX(0);
  }
  div#divBtns #btnChame_no_Whatsapp {
    width: 87.5%;
    transform: translateX(0);
  }
}
@media screen and (max-width: 800px) {
  div#divBtns {
    margin-bottom: 1vh;
  }
  div#divBtns button {
    width: 80vw;
  }
  #infoAuthorsSect .authorMainDiv {
    grid-template: 50%/10% 90%;
    width: 85%;
    margin: 2vh 0 0 3%;
  }
}
@media screen and (max-width: 720px) {
  .accordion-body .authorMainDiv {
    grid-template: 50%/10% 90%;
    width: 85%;
    margin: 2vh 0 2vh 3%;
  }
}
@media screen and (max-width: 650px) {
  .authorMainDiv .authorDesc {
    margin-left: 6rem;
  }
}
@media screen and (min-width: 601px) {
  .accordion .divInfoContact {
    margin: 0 0 2vh 0.5rem;
  }
  .accordion .divInfoContact:has(.bi-instagram) {
    margin-bottom: 0.75vh;
  }
  .accordion .divInfoContact .titleInfoContact {
    margin: 0.1rem 0 0.09rem 0;
  }
}
@media screen and (max-width: 600px) {
  img#logoHeader {
    min-width: 8rem;
    min-height: 8rem;
    max-width: 40vw;
    max-height: 40vw;
  }
  .accordion .accordion-body .authorMainDiv {
    width: 80%;
    margin: 3vh 0 5%;
    padding-bottom: 5vh;
  }
  .accordion .accordion-body .authorMainDiv .authorDesc {
    width: 70%;
  }
  .accordion .divInfoContact {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-bottom: 1vh;
  }
  .accordion .divInfoContact .titleInfoContact {
    text-align: center;
  }
  .accordion .divInfoContact .titleInfoContact span,
  .accordion .divInfoContact .titleInfoContact strong,
  .accordion .divInfoContact .titleInfoContact em,
  .accordion .divInfoContact .titleInfoContact mark {
    display: inline-block;
  }
  .accordion .divInfoContact .bi {
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
  }
}
@media screen and (min-width: 461px) and (max-width: 600px) {
  .accordion .accordion-body .authorMainDiv {
    width: 95%;
  }
  .accordion .accordion-body .authorMainDiv .authorDesc {
    width: 56%;
  }
}
@media screen and (max-width: 500px) {
  .authorMainDiv .authorFig .authorImg {
    margin: 2rem 1.5rem 0 1.3rem;
  }
}
@media screen and (max-width: 460px) {
  .authorMainDiv .authorFig .authorImg {
    transform: scale(3.5);
    margin: 2rem 1.5rem 3rem 1.3rem;
  }
  .instIcon {
    min-width: 1rem;
    min-height: 1rem;
  }
  .instIcon + .tips {
    text-align: start;
    overflow: auto;
    margin-left: 0.5rem;
  }
  .menuOpNav .opGroup .opSubGroup {
    display: flex;
    flex-flow: column wrap;
    align-items: start;
  }
  .menuOpNav .menuOpMainDiv {
    padding-inline: 1rem;
  }
  .menuOpNav .menuOpMainDiv .menuOpH {
    margin-left: 0;
  }
  .menuOpNav .menuOpMenu .opLi {
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
    margin: 0 0 2vh 6vw;
    min-width: 50%;
    max-width: 75vw;
  }
  .menuOpNav .menuOpMenu .opLi > * {
    max-width: 70vw;
  }
  .menuOpNav .menuOpMenu .opLi .opSpan.opSpanName {
    margin-left: -2vw;
  }
  .menuOpNav .menuOpMenu .opLi .opSpan.opSpanDesc,
  .menuOpNav .menuOpMenu .opLi .opSpan.opSpanPrice {
    padding-left: 0;
  }
  .menuOpNav .menuOpMenu .opLi .opBtnsDiv {
    justify-content: left;
    padding-left: 0;
  }
  .menuOpH {
    display: flex;
    flex-flow: column wrap;
  }
  .addAlert {
    transform: translate(0.1rem, 2rem);
  }
  .minusAlert {
    transform: translate(0.1rem, 2rem);
  }
  .accordion .accordion-body .authorMainDiv {
    display: flex;
    flex-flow: column wrap;
    margin: 3rem 0 1rem 1.3rem;
    margin-left: 4vw;
  }
  .accordion-body .authorMainDiv .authorDesc {
    margin: 0 0 0 4vw;
    padding-top: 20%;
    align-items: center;
    width: 85%;
  }
  .accordion-body .authorMainDiv .authorDesc .authorName {
    text-align: left;
    padding: 7.5% 0 7.5% 0;
  }
  .accordion-body .authorMainDiv .authorFig {
    align-self: center;
    margin-bottom: 0;
  }
}
