/* running production test fix */
li.divProduct {
  padding-bottom: 7rem;
}

td output {
  font-size: 1rem;
  vertical-align: middle;
}

td[id^="quantCel"],
td:has(output.outp_orderQuant) {
  text-align: center;
}

thead,
.tabOrdersCel.tabOrdersTh {
  font-size: 0.8rem;
}

.celName {
  width: 75%;
}

.celQuant {
  width: 6rem;
}

.celRemove {
  width: 1.5rem;
}

.celRemove .tabRemove {
  transform: translate(calc(1.8vw), -7%);
}

#btnChame_no_Whatsapp span:has(svg) {
  transform: translateX(3px);
}

#btnChame_no_Whatsapp a {
  transform: translateX(-2px);
}

#headerLogo + hr {
  margin-bottom: 2rem;
}

#quantityCell {
  text-align: center;
}

#quantityCell span {
  margin-inline: 0.1vw 0;
  padding-inline: 0;
}

#removeCell {
  text-align: center;
  padding-inline: 0;
  min-width: 5rem;
  max-width: 5rem;
}

#removeCell span {
  margin: 0;
  padding-inline: 0;
}

.celRemove .bi.bi-dash-square-fill {
  clip-path: circle(40%);
  transform: scale(1.5);
  padding-left: 0.1vw;
}

#rootTab {
  min-height: unset;
}

@media screen and (min-width: 1421px) {
  #divBtns {
    min-width: 0;
  }
  #divBtns button {
    padding-inline: 1rem;
  }
  #divBtns button:has(.bi-whatsapp):has(svg) {
    padding-inline: 1.5rem;
  }
}

@media screen and (max-width: 460px) {
  .celRemove .tabRemove {
    transform: translate(calc(1rem), -7%);
  }
}
